.card {
  position: relative;
  overflow: hidden;
  margin: 5px;
  border-radius: 5%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card a {
  text-decoration: none !important;
  color: inherit;
}
.card:hover {
  background-color: rgba(197, 194, 194, 0.644);
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.dark {
  background-color: #1e2c38;
  color: rgba(59, 56, 56, 0.699);
}
